body{
     background-color: rgb(254, 254, 254) !important;
     color: rgb(0, 0, 0) !;
     font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
span{
     color: khaki;
}
#root{
     background-color: rgb(18, 3, 40) !important;
}